/* feeds */
.feed_container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;; */
    align-items: center;
}
/* NavBar  */
.navbar_container{
    padding-left:2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    height:8vh;
}
.nav_icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icons{
    color: black;
    margin-right:0.4rem
}
@media only screen and (max-width:500px) {
    .nav_icons-container {
        display: none
    }
}
/* upload button */
.upload_container{
    width:17rem;
margin-top :1rem
}
